<div class="card" style="{% if item.background %}background:{{ item.background }};{% endif %}{% if item.text %}--global-text-color:{{ item.text }}{% endif %}">
  <div class="list-groups">
    <div class="list-group image-box {% if item.padded %}padded-image{% endif %}">
      <img src="{{ item.img }}" class="card-display" style="object-position:{{ item.align }}"/>
    </div>
    <div class="list-group text-box">
      <h3 class="card-title">{{ item.title }}</h3>
      {{ item.content }}
    </div>
  </div>
</div>